In [1]:
import numpy
import pandas
import sklearn
import seaborn
import matplotlib.pyplot as plt
%matplotlib inline
from pylab import rcParams
rcParams['figure.figsize']=10,8
from sklearn import datasets,linear_model
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import GaussianNB
#import libraries needed for classification task
import pandas
import numpy
import seaborn
import sklearn
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import tree
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix,classification_report
from sklearn.ensemble import RandomForestClassifier

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
rating_data=pandas.read_csv('./desktop/packages/grouplens_ratings.csv')

In [4]:
rating_data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [5]:
#keep selected columns
rating_data=rating_data[['userId','movieId','rating','timestamp']]

In [6]:
#Take dependent and independent variables seperately
rating_data_X=rating_data[['movieId']]
rating_data_Y=rating_data[['rating']]
rating_data_X.head()

   movieId
0       31
1     1029
2     1061
3     1129
4     1172

In [7]:
#Divide the data into training and test set.train set contains 80% of the data.test set contains 20% of the data
X_train,X_test,Y_train,Y_test=train_test_split(rating_data_X,rating_data_Y,test_size=0.20)

In [8]:
X_train.head()

       movieId
64990     1619
79234     3253
5443      2116
27522     4344
17106     1784

In [9]:
rating_scaler=StandardScaler()
rating_scaler.fit(pandas.DataFrame(X_train['movieId']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [10]:
X_train[['movieId']]=rating_scaler.transform(X_train[['movieId']])

In [11]:
X_train.head()

        movieId
64990 -0.414898
79234 -0.352989
5443  -0.396068
27522 -0.311654
17106 -0.408646

In [12]:
X_train.head()

        movieId
64990 -0.414898
79234 -0.352989
5443  -0.396068
27522 -0.311654
17106 -0.408646

In [13]:
rating_scaler=StandardScaler()
rating_scaler.fit(pandas.DataFrame(X_test['movieId']))

StandardScaler(copy=True, with_mean=True, with_std=True)

In [14]:
X_test[['movieId']]=rating_scaler.transform(X_test[['movieId']])

In [15]:
X_test.head()

        movieId
61155 -0.468083
39933 -0.392216
19491 -0.426134
59673 -0.372002
88945 -0.415399

In [16]:
X_test_Original=X_test
X_test=X_test.values
Y_test=Y_test.values

In [17]:
simple_linear_regression=LinearRegression()

In [18]:
simple_linear_regression.fit(pandas.DataFrame(X_test),pandas.DataFrame(Y_test))

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [19]:
Y_pred=simple_linear_regression.predict(pandas.DataFrame(X_test))

In [20]:
Y_pred=simple_linear_regression.predict(X_test)

In [21]:
Y_pred

array([[3.551919  ],
       [3.5495857 ],
       [3.55062884],
       ...,
       [3.55155372],
       [3.55191314],
       [3.49670433]])

In [22]:
print(r2_score(Y_test,Y_pred))

0.0008501030229223216

In [23]:
print(mean_absolute_error(Y_test,Y_pred))

0.8476670944571448

In [24]:
print( mean_squared_error(Y_test,Y_pred))

1.1117029462183254

In [25]:
r2_score(Y_test,Y_pred)*1000

0.8501030229223216